@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); 

.title{
    position: fixed;
    background-color: #ffe4e4;
    height: 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #562646;
}

body{
    width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 0 0;
}
.logo{
    width: 100%;
    height: 100px;
}
.inter{
   
    width: 100%;
    height: 30px;
    flex-direction: row-reverse;
    text-align: right;
    justify-content:right;


}
.login1{
    padding: 2px 2px;
    margin: 20px;
    text-decoration: none;
    color: #562646;
}
.login1:hover{
    padding: 10px;
    background-color: #ffe4e4;
    border-radius: 10px;
    text-decoration: none;
    color:#562646;

}
.logoimg{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.welcome{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
