body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e4;
    margin: 0;
    padding: 0;
    color: #562646;
}

.add-category-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-category-container h2 {
    text-align: center;
    color: #333;
    color: #562646;
}

.add-category-container form {
    display: flex;
    flex-direction: column;
}

.add-category-container label {
    margin-bottom: 8px;
    color: #333;
}

.add-category-container input,
.add-category-container textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-category-container button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-category-container button:hover {
    background-color: #0056b3;
}
